{% extends "layout.html" %}

{% block content %}

     {% load static %}
        <link rel="stylesheet" href="{% static 'assets/css/profile.css' %}">

    <!-- Main Content -->
    <div id="content">
        <div class="container-fluid">

            <!-- DataTable -->
            <div class="card shadow mb-4" style="margin-top: 50px">
                <div class="card-header py-3">
                    <div class="row">
                        <i class="fas fa-star" style="margin-right:10px; margin-top:4px; color: #e9aa0b "></i>
                        <h6 class="m-0 font-weight-bold text-primary">Lista de Desejos</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Cor</th>
                                    <th><i class="fas fa-gas-pump " style="margin-right:10px; margin-top:4px"></i></th>
                                    <th><i class="fas fa-dog " style="margin-right:10px; margin-top:4px"></i></th>
                                    <th><i class="fas fa-smoking " style="margin-right:10px; margin-top:4px"></i></th>
                                    <th>Donos</th>
                                    <th>Localização</th>
                                    <th>Vendedor</th>
                                    <th>Preço</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for x in lista %}
                                    <tr>
                                        <td><a href="../about?entity={{ x.0 }}"/>{{ x.0 }}</td>
                                        <td><a href="../model?entity={{ x.10 }}&idc={{ x.11 }}"/>{{ x.1 }}</td>
                                        <td>{{ x.2 }}</td>
                                        <td>{{ x.3 }}</td>
                                        <td>{{ x.4 }}</td>
                                        <td>{{ x.5 }}</td>
                                        <td>{{ x.6 }}</td>
                                        <td>{{ x.7 }}</td>
                                        <td>{{ x.8 }}</td>
                                        <td>{{ x.9 }}</td>
                                        <th style="width: 3%">
                                            <a href="../rev?idc={{x.11}}&source=wishlist " class="btn btn-danger btn-circle btn-sm"/>
                                            <i class="fas fa-trash"></i>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div style="margin-top: 70px">
                <h6 class="m-0 font-weight-bold text-primary">Também poderá gostar:</h6>
                <div class="row"  style="margin-top: 20px">
                    {% for s in sugestoes %}
                        <ul class="col-lg-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <div class="row">
                                        <div  style="width: 90%; margin-left: 2%"> <a style="color: red"><b>{{ s.0 }}</b></a> <a style="color: #be2617">{{ s.1 }}</a></div>
                                        <div  style="width: 8%">
                                              <a href="../fav?idc={{s.11}}&source=wishlist"><i class="fas fa-star" style="color: #e9aa0b"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text">
                                                <b>Onde?</b> {{ s.7 }}
                                            </div>
                                            <div class="text">
                                                <b>Quanto?</b> {{ s.9 }}
                                            </div>
                                            <div class="text">
                                                <b>Quem?</b> {{ s.8 }}
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <a href="../model?entity={{ s.10 }}&idc={{ s.11 }}">Saber mais &rarr;</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- End of Main Content -->

{% endblock %}
